$container-width: 1440px;

html {
    @apply font-base font-normal text-dark;
    -webkit-tap-highlight-color: transparent;
}

body {
    @apply relative 
        min-h-[100vh]
        min-w-[320px]
        text-[16px];

    &.is-modal-open,
    &.is-offcanvas-open {
        @apply overflow-hidden;
    }
}

.centered {
    @apply w-[#{$container-width}] max-w-full mx-auto px-5;
}

[hidden] {
    @apply hidden;
}

[v-cloak] {
    @apply hidden;
}

a:not(a[class]) {
    @apply text-dark
        hover:text-dark
        hover:underline;
}

::selection {
    @apply text-white
        bg-brand;
}

/* width */
::-webkit-scrollbar {
    @apply w-2.5;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-sm
        bg-dark 
        bg-opacity-40;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-opacity-60;
}

*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus,
*:-webkit-autofill:active {
    background: transparent;
}
