@use "tailwindcss/base";
@use "tailwindcss/components";

@use "@/scss/site/base/fonts";
@use "@/scss/site/base/defaults";
@use "@/scss/site/base/typography";
@use "@/scss/site/base/animates";

@use "@/scss/site/elements/button";
@use "@/scss/site/elements/toasts";
@use "@/scss/site/elements/tooltips";
@use "@/scss/site/elements/decor-link";
@use "@/scss/site/elements/forms";
@use "@/scss/site/elements/svg-icon";
@use "@/scss/site/elements/rounded-icon";
@use "@/scss/site/elements/badge";
@use "@/scss/site/elements/app-logo";
@use "@/scss/site/elements/slider-controls";
@use "@/scss/site/elements/pagination";
@use "@/scss/site/elements/floating-block";
@use "@/scss/site/elements/lamps";
@use "@/scss/site/elements/yandex-map";

@use "tailwindcss/utilities";

@use "/node_modules/flowbite-vue/dist/index.css";

[v-cloak] {
    display: none;
}

input:focus {
    box-shadow: none !important;
}
